<h1 class="new-title">TEST TEST</h1>

<div style="text-align:center">
<br>

<img src="https://toxu.ru/uploads/default/original/2X/4/44f1927f8d4b1f64eaad6755095bea5eab2847c9.png" alt="toxu-dev" width="100" height="100">
<br><br>
<span style="color: #7a98a9;">There is just the page text, html</span>


</div>
<div>

<br><h3>test</h3>
There is just the page text, html

</div>


